<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LeaveRecord">
	<resultMap type="LeaveRecord" id="leaveRecordResultMap">
		<id property="id" column="id" />
		<result property="daysCarriedForward"
			column="days_carried_forward" />
		<result property="currentYearLeaveDays"
			column="current_year_leave_days" />
		<result property="totalLeaveDays" column="total_leave_days" />
		<result property="remainingLeaveDays"
			column="remaining_leave_days" />
		<result property="employeeId" column="staff_id" />
		<result property="email" column="employee_name" />

		<!-- <association property="employee" javaType="Employee"> <id property="id" 
			column="id" /> <result property="fullNames" column="full_name" /> <result 
			property="staffIdNo" column="staff_id" /> <result property="phoneNumber" 
			column="phone_number" /> <result property="email" column="email"/> </association> -->
	</resultMap>

	<insert id="createLeaveRecord" parameterType="LeaveRecord"
		keyProperty="id">
		INSERT INTO LeaveRecord(days_carried_forward,
		current_year_leave_days,
		total_leave_days,remaining_leave_days,
		staff_id, employee_name)
		VALUES(#{daysCarriedForward},
		#{currentYearLeaveDays},
		#{totalLeaveDays}, #{remainingLeaveDays},
		#{employeeId}, #{email});
	</insert>
	<select id="getAllLeaveRecords" parameterType="int"
		resultMap="leaveRecordResultMap">
		SELECT * FROM LeaveRecord;
	</select>
	<select id="getLeaveRecordByEmployeeId" parameterType="employee"
		resultMap="leaveRecordResultMap">
		SELECT * FROM LeaveRecord WHERE staff_id=#{employeeId};
	</select>

	<update id="updateLeaveRecord" parameterType="LeaveRecord">
		UPDATE leaverecord
		SET days_carried_forward=#{daysCarriedForward},
		current_year_leave_days=#{currentYearLeaveDays},
		total_leave_days=#{totalLeaveDays},
		remaining_leave_days=#{remainingLeaveDays}, staff_id=#{employeeId},
		employee_name=#{email}  WHERE id = #{id};
	</update>
</mapper>